.categories-section {
  padding: 60px 45px;
}
.ct-sec-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}
.ct-sec-description {
  color: #555;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
