.button.MuiButton-root {
  transition: none;
  font-weight: 600;
  /* margin-top: 20px; */
  width: 120px;
}

.orange.MuiButton-root {
  background: linear-gradient(95.06deg, #ff9e43 0%, #ffd25a 107.76%);
  color: white !important;
}
.orange.MuiButton-root:hover {
  background: #ff9e43;
}
.grey.MuiButton-root {
  background: #e7e7e7;
  color: #474747;
}
.grey.MuiButton-root:hover {
  background: #808080;
  color: white;
}
.light-orange.MuiButton-root {
  width: 100% !important;
  padding: 10px !important;
  background-color: #ffeee7 !important;
  color: #fe825c;
}
.outlined.MuiButton-root {
  border: 2px solid black;
  padding: 10px;
  color: black;
}
.light-orange-bordered.MuiButton-root {
  width: 100% !important;
  padding: 10px 25px !important;
  background-color: #ffeee7 !important;
  color: #fe825c;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid #fe825c45;
}
.light-orange.MuiButton-root {
  width: 100% !important;
  padding: 10px !important;
  background-color: #ffeee7 !important;
  color: #fe825c;
}
.explore-courses-btn.MuiButton-root {
  width: 300px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}
.light-grey-bordered.MuiButton-root {
  width: 100% !important;
  padding: 10px 25px !important;
  background-color: #fbfcff !important;
  color: #808191;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #e5f1fb;
}
.fit-content.MuiButton-root {
  width: fit-content !important;
}
