.personal-info-container {
  padding-inline: 20px;
  padding-block-end: 8px;
}

.personal-info-input {
  width: 90%;
}

.personal-info-input-wide {
  width: 95%;
}

.personal-info-submit {
  width: 224px;
}
