.video_preview {
  width: 100%;
  height: 500px;
  background-color: #0a0909;
}
.view-course-main-container {
  width: 100%;
  height: 500px;
}
.course-content-title {
  padding: 15px;
  font-weight: 700;
  background-color: white;
  font-size: 20px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.course-content {
  background-color: #f7f9fa;
  position: fixed;
  right: 0;
  width: 100%;
}
.view-course-grid {
  height: 90vh;
}
.view-course-left-container {
  background-color: white;
}
