.video_preview {
  width: 100%;
  height: 75vh;
  background-color: #0a0909;
}
.view-course-main-container {
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: auto;
  margin-top: 70px;
}
.course-content-title {
  padding: 15px;
  font-weight: 700;
  background-color: white;
  font-size: 20px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.course-content {
  background-color: #f7f9fa;
  position: fixed;
  right: 0;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
}
.view-course-grid {
  height: 90vh;
}
.view-course-left-container {
  background-color: white;
}
.note-container {
  padding: 20px;
}
.quiz-container {
  padding: 20px;
}
.view-course-overlay {
  background: rgb(27 27 27 / 97%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.overlay-content {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  color: white;
}
.next-title {
  font-weight: 700;
  padding-bottom: 10px;
}
.cancel-text {
  cursor: pointer;
}
.cancel-text:hover {
  text-decoration: underline;
}
.question-title{
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0px;

}
.ask-question{
color: orange;
font-size: 20px;
font-weight: 700;
padding: 20px 0px;

}
.ask-question:hover{
cursor: pointer;
text-decoration: underline;


}
.all-questions .profile-pic img{
height: 50px;
width: 50px;

}
.all-questions .question{
  font-size: 20px;
  font-weight: 700;

}
.back-questions{
  font-size: 20px;
  font-weight: 700;
  color: gray;
  padding: 20px 0px;
  
}
.detail-label{
  font-size: 16px;
  font-weight: 700;
}
